@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange: #fd7d14;
    --black: #131218;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: 1px solid #ccc;
	--red: #ff0000;
	--white: #fff;
}

*{
	font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
	transition: all .2s linear;
}

html{
    font-size: 62,5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
	background: #f1f2f3;
}

.header{
	position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    background: #003869;
    box-shadow: var(--box-shadow);
}

.header .logo{
	padding-top: 1.5rem;
}

.container{
	position: relative;
	margin: 8% auto 2%;
	border-radius: .5rem;
	max-width: 48rem;
	background: var(--white);
	box-shadow: var(--box-shadow);
	padding: 2rem;
}

.container h2{
	padding-bottom: 1.2rem;
	font-size: 2rem;
	text-align: center;
	border-bottom: var(--border);
}

.container .form{
	margin-top: 1.8rem;
}

.container .form .input-box{
	width: 100%;
	margin-top: 1.3rem;
}

.container .form .input-box label{
	color: var(--black);
}

.container .form .input-box label b{
	color: var(--red);
	text-decoration: underline;
	
}

.container .form .input-box select{
	position: relative;
	height: 3.2rem;
	/* width: 100%; */
	font-size: 1rem;
	margin: .5rem 0;
	border-radius: .5rem;
    padding: 0 1rem;
	border: var(--border);
	background: none;
}

p#required{
	color: var(--red);
	margin: 1rem 0;
}

.container .form .send-box {
	text-align: center;
}

.container .form .send-box .btn{
    margin-top: .5rem;
    padding: .6rem 2rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    border: .15rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.container .form .send-box .btn:hover {
    background: var(--orange);
    color: var(--white);
}