* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}

body { background: #f1f2f3; }

/* Menu */
.navbar {
    background: #003869;
    padding-right: 80px;
    padding-left: 80px;
}

.nav_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo { padding-top: 20px; }

.nav_item {
    list-style: none;
    display: inline-block;
}

.nav_link {
    font-size: 24px;
    font-weight: bold;
    margin-right: 27px;
}

.nav_link:link,
.nav_link:visited {
    color: #f3f3f3;
}

/* Container */
.main_title {
    text-align: center;
    margin: 40px 0;
    font-size: 50px;
}

.products { position: relative; }

.food_title { margin: 5% 0 3% 15% }

.non_food_title { margin: 8% 0 3% 15%; }

.foods {
    display: flex;
    justify-content: center;
}

.non_foods {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.food_products,
.non_food_products {
    position: relative;
    padding-right: 60px;
}

.food_products span,
.non_food_products span {
    position: absolute;
    font-size: 20px;
    padding: 15px;
    bottom: 20%;
    color: #000000;
    background-color: rgba(248, 247, 216, 0.7);
}

/* Footer */
.footer {
    padding: 14px 0;
    background-color: rgb(237, 230, 230);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer_nav {
    list-style: none;
    display: flex;
    justify-content: center;
}
  
.footer_item {
    margin-right: 6rem;
}
  
.footer_link {
    font-size: 1.3rem;
    color: #000000;
    text-decoration: none;
}

/* LogIn - Registration */
.modal {
    position: fixed;
    top: 13%;
    left: 91%;
    transform: translate(-50%, -50%);
    background-color: #f1f2f3;
    padding: 35px 50px 30px 50px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.15);
    z-index: 1000;
    transition: all 0.5s;
    border-radius: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: all 0.5s;
}

.modal_links {
    font-size: 30px;
    list-style: none;
    line-height: 1.8;
}

.modal_link:link,
.modal_link:visited {
    color: #000000;
}

.btn--close-modal {
    font-family: inherit;
    color: #000000;
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    font-size: 2.2rem;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}